%h1
  \##{@group.id}:
  %em= @group.name
%p
%em
  = @group.description || t('labels.group.no_description')
%p
  = render 'subscriptions/button', locals: {group: @group}
%p
  = link_to t('buttons.group.edit'), edit_group_path(@group)
  |
  = link_to t('buttons.general.back'), groups_path
