= semantic_form_for activity do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :activity_type, as: :radio,
              collection: activity.valid_types
    = f.input :risk,          as: :radio,
              collection: activity.valid_risks
  = render 'examples'
  = f.actions do
    = f.action :submit, as: :button
    = f.action :cancel, as: :link
