%h1
  \##{@activity.id}:
  %em= @activity.name
%p
  = render 'approve_button', activity: @activity
%p
  Type:
  = t("labels.activity.type.#{@activity.activity_type}.brief")
%p
  Risk level:
  = t("labels.activity.risk.#{@activity.risk}")
%em
  = @activity.description || t('labels.activity.no_description')
%p
  In groups:
  %ol
    - @activity.groups.each do |group|
      %li
        = link_to group.name, group
%p
  - if can? :edit, @activity
    = link_to t('buttons.activity.edit'), edit_activity_path(@activity)
    |
  = link_to t('buttons.general.back'), activities_path
